{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<div class='widget'>
  <div class='left-sidebar'>
    <div class='sidebar-content'>
      <div class='user-profile'>
        {{=A('',DIV('', _class='user-img'), _href=URL('default', 'people', args=[auth.user.username]))}}
      </div>
      <div class='menu'>
        <ul class='category'>
          <li class='head'>Welcome, {{=auth.user.first_name}}</li>
          <li class='item'><span class='icon-white icon-ok glyphicon glyphicon-ok'></span><span>My Tasks</span></li>
          <li class='item'><span class='icon-white icon-envelope glyphicon glyphicon-envelope'></span><span>Messages</span></li>
        </ul>

        <ul class='category'>
          <li class='head'>My House</li>
          <li class='item'><span class='icon-white icon-home glyphicon glyphicon-home'></span><span>My House</span></li>
          <li class='item'><span class='icon-white icon-pencil glyphicon glyphicon-pencil'></span><span>Edit Home</span></li>
        </ul>

        <ul class='category'>
          <li class='head'></li>
          <li class='item'><span class='icon-white icon-cog glyphicon glyphicon-cog'></span><span>Settings</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='right-content'>
    <div class='wrapper'>
      <div class='wallpaper'><div class='over'><div class='greetings'>{{=today}}</div></div></div>
      <div class='house_content'>

        <!--DISPLAYS HOUSES THAT USER IS A MEMBER OF-->
        <div class='house_tabs'>
          {{if len(listofhouses) == 0:}}
            <ul>
              <li id='focus'>No Houses</li>
            </ul>
          {{else:}}
            <ul>
            {{for h in listofhouses:}}
              <li class='house_list_title'>{{h.title}}</li>
            {{pass}}
            </ul>
          {{pass}}

          {{=A('+', DIV('New House', _class='add_message'), _id='add_house',_href=URL('default', 'add_house'))}}
        </div> <!--END OF DISPLAY HOUSES-->

        <!--CONTENT FOR THE HOUSE-->
        {{if len(listofhouses) == 0:}}
        <div id='alone'>There's nothing here :( <p>Try Adding A New House</p></div>
        {{else:}}
        <div>There's something here!</div>
        {{pass}}
        <!--END OF CONTENT-->
      </div>
    </div>
  </div>
</div>