{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div class='widget'>
  <div class='left-sidebar'>
    <div class='sidebar-content'>
      <div class='user-profile'>
        {{=A('',DIV('', _class='user-img'), _href=URL('default', 'people', args=[auth.user.username]))}}
      </div>
      <div class='menu'>
        <ul class='category'>
          <li class='head'>Welcome, {{=auth.user.first_name}}</li>
          <li class='item'><span class='icon-white icon-ok glyphicon glyphicon-ok'></span><span>My Tasks</span></li>
          {{=A('',SPAN('', _class='icon-white icon-envelope glyphicon glyphicon-envelope'), SPAN('Messages'), _class='item',_href=URL('default', 'inbox'))}}
        </ul>

        <ul class='category'>
          <li class='head'>My House</li>
          <li class='item'><span class='icon-white icon-home glyphicon glyphicon-home'></span><span>My House</span></li>
          <li class='item'><span class='icon-white icon-pencil glyphicon glyphicon-pencil'></span><span>Edit Home</span></li>
        </ul>

        <ul class='category'>
          <li class='head'></li>
          <li class='item'><span class='icon-white icon-cog glyphicon glyphicon-cog'></span><span>Settings</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='right-content'>
    <div class='wrapper'>
      <div class='wallpaper'><div class='over'><div class='greetings'>INBOX</div></div></div>
      <div class='house_content'>
        {{=A('+ Start A New Conversation', _id='add_msg',_href=URL('default', 'inbox',vars=dict(action='start')))}}

        {{if request.vars.action == 'start':}}
          {{=form}}
        {{else:}}
          <ul id='convo_list'>
            {{for conversation in conversation_list:}}
              <li>
                <h4>{{=conversation.subject}}</h4>
                <br>
                <!--Look for a person in the user_list that matches group-->
                {{conversation_group = db(db.user_list.house == conversation.house).select()}}
                {{for people in conversation_group:}}
                  {{logger.info("people.person %r " % people.person)}}
                  {{peep = db(db.auth_user.id == people.person).select().first()}}
                  <sub>{{=peep.first_name}} {{=peep.last_name}}, </sub>
                {{pass}}
                <br><sub>Most Recent Post: {{=conversation.recent_post}}</sub>
              </li>
            {{pass}}
          </ul>
          <div class='messenger'>
            <ul class='messages'>
              <li><div class='message-text'>Hey How are you?</div><span class='message-image'><img src=""></span></li>
              <li><div class='message-text'>Not Bad! What if this keeps going for a very long time and it ends up taking a bunch of space?</div><span class='message-image'><img src=""></span></li>
              <li><div class='message-text'>Hey How are you?</div><span class='message-image'><img src=""></span></li>
              <li><div class='message-text'>Hey How are you?</div><span class='message-image'><img src=""></span></li>
              <li><div class='message-text'>Not Bad! What if this keeps going for a very long time and it ends up taking a bunch of space?</div><span class='message-image'><img src=""></span></li>
              <li><div class='message-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div><span class='message-image'><img src=""></span></li>
              <li><div class='message-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div><span class='message-image'><img src=""></span></li>
            </ul>
            <form><input type='text'></input></form>
          </div>
        {{pass}}
      </div>
    </div>
  </div>
</div>