{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div class='main-top'>
  <img class='user-pic'/>
  <div class='summary'>
    <div class='main-name'>Placeholder House Name</div>
    <div class='info'>115 Weird St. Santa Cruz, CA 95060<br>We're craazy!<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</div>
  </div>
</div>

<div class='member-list'>
  <h2>Members</h2>
  <ul>
    <li class='thumbnail'><a href=""><img src=""></a>
      <a href="" class='text'>Name</a>
    </li>
    <li class='thumbnail'><a href=""><img src=""></a>
      <a href="" class='text'>John</a>
    </li>
    <li class='thumbnail'><a href=""><img src=""></a><a href="" class='text'>Kate</a></li>
    <li class='thumbnail'><a href=""><img src=""></a><a href="" class='text'>Levi</a></li>
  </ul>
</div>

<div>
  <h2>Tasks</h2>
</div>