{{('message' in globals())}}
{{extend 'layout.html'}}

<div class='widget' id='profile_widget'>	
	<center>
		{{if user.pic != None or user.pic == "":}}
		<div id=""><img id="profile_pic"src="{{=URL('download',args=user.pic)}}"></div>
		{{else:}}
		<div><img id="profile_pic"src="http://emblemsbf.com/img/11864.jpg"></div>
		{{pass}}
		<div class='username'>{{=user.person.first_name.title()}} {{=user.person.last_name.title()}}</div>
	</center>
	<div class='profile_content'>
		<div class='house_group center'>
			<b><h2 class="center">House</h2></b>
			{{if house == None:}}
				<div>Not part of a House. :(</div>
			{{else:}}
				<div class='center'>
					<div style="font-size:16px;">
					   <img id="profile_pic_small" src="{{=URL('download',args=house.image)}}">
					   <br>
					   {{=house.title}}
					</div>
				</div>
			{{pass}}
		</div>
		<hr>
		<div class="center" style="font-size:18px;"><b>Contact me at:</b> {{=user.person.email}}</div>
	</div>

</div>