{{('message' in globals())}}
{{extend 'layout.html'}}

<div class='widget' id='profile_widget'>
	<center>
		<div id='profile_pic'></div>
		<div class='username'>{{=person.first_name}} {{=person.last_name}}</div>
	</center>
	<div class='profile_content'>
		<div class='house_group'>
			<h2>Houses</h2>
			{{if len(house_list) == 0:}}
				<div>Not part of a House. :(<div>
			{{else:}}
				<ul class='house_list'>
					{{for h in house_list:}}
						<li>{{h.title}}</li>
					{{pass}}
				</ul>
			{{pass}}
		</div>
		<div class='posts'>
			<h2>Posts</h2>
			No Posts. :(
			<ul></ul>
		</div>
	</div>
</div>