/*THESE ARE STRICTLY FOR layout.html SCROLL DOWN TO FIND MORE*/

ul#navbar {
}

.brand b{
	color: white;
}

.span12 {
	margin-left: 0px;
}

.body-s{
	background-color: #F5F8FA;
	color: black;
}

.navbar-s {

}

.navbar-inverse .nav>li>a {
	color: #ECF0F1;
}

.navbar-inverse .nav li.dropdown.open>.dropdown-toggle, .navbar-inverse .nav li.dropdown.active>.dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle {
	background-color: #E65100;
}

.navbar-s .navbar-inner {
	background-color: #2c3e50;
	background-image: none;
	min-width: 981px;
}

.navbar-inner .nav li a:hover {
	background: #E65100;
}

.navbar-inner .nav li a:focus {
	background-color: #E65100;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
	background-color: #E65100;
	background-image: none;
}

.navbar-s .navbar-inner .container{
	margin: 0px auto 0px auto;
	width: 100%;
}

.navbar-s .flash {
	background-color: #d35400;
	background-image: none;
	border-color: #d35400;
}

.body-s .container #main {
	min-width: 744px;
	padding-bottom: 0px;
}

/*****************************************************
STYLE FOR MAIN INDEX
******************************************************/
#big_image {
	background-image: url('../images/tea.jpg');
	background-size: 100%;
	height: 300px;
}

/*****************************************************
CSS FOR USER.HTML
******************************************************/
#login_page {
	font-family:'Roboto', sans-serif;
}

#login_img{
	top: 0px;
	left: 0px;
	background: url('../images/house.jpg');
	width: 100%;
	height: 800px;
	position: absolute;
	z-index: -5000;
	background-repeat: no-repeat;
	background-size: cover;

	min-height: 500px;

}

#login_wrapper {
	top: 0px;
	background-color:rgba(0, 0, 0,0.8);
	left: 0px;
	position: absolute;
	width: 100%;
	height: 800px;
	z-index: -20;
}

#intro {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 140px;
	font-size: 3em;
	font-weight: 100;
	line-height: 1em;
	max-width: 1000px;
}

#login_header {
	color: white;
	margin-top: 50px;
	font-weight: 300;
}

#description {
	margin-top: 200px;
	color: grey;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background-color: white;
	padding-top: 60px;
	padding-bottom: 60px;
}

#description h2 {
	color: black;
}

/*****************************************************
THIS IS ALL THE THINGS PERTAINING TO THE MAIN WIDGET
******************************************************/

.widget {
	margin-top: 20px;
	height: 800px;
	min-width: 930px;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	font-family: 'Roboto', sans-serif;
}

	/**********************
	Left Sidebar and Content
	**********************/
	.left-sidebar {
		background-color: #2c3e50;
		color: rgba(255, 255, 255, 0.5);
		float: left;
		width: 15%;
		height: inherit;
		border-radius: 6px 0px 0px 6px;
	}

	.sidebar-content {
		width: 100%;
		height: inherit;
	}

	.user-profile {
		padding-top: 25px;
		padding-bottom: 20px;
		background-color: #D45631;
	}

	.user-img {
		background-color: white;
		width: 40px;
		height: 40px;
		border-radius: 60px;
		margin: 0 auto;
	}

	.user-img:hover {

	}

	.menu{
		text-align: center;
		padding-top: 0px;
	}
		.menu .category {
			padding: 0px 0 10px 0px;
			list-style: none;
			margin: 0px;

		}

			.category .head {
				padding: 20px 0px 5px 0px;
				font-weight: bold;
			}

			.category .icon-white {
				margin-right: 5px;
			}

			.category .item {
				color: inherit;
				display: block;
				padding: 5px 0px 5px 0px;
				font-size: 0.8em;
				transition: background-color 300ms cubic-bezier(.55,0,.1,1) 0s, color 500ms cubic-bezier(.55,0,.1,1) 0s;
			}

			.category .item:hover {
				background-color: #34495e;
				color: #1abc9c;
				cursor: pointer;
				text-decoration: none;
			}

			.category .mate-list {
				margin-top: 0px;
				height: 260px;
				overflow: auto;
			}

				.mate-list ul {
					list-style: none;
					margin-left: 0px;

				}

					.mate-list ul li {
						padding: 5px 0px;
						transition: background-color 300ms cubic-bezier(.55,0,.1,1) 0s;
					}

					.mate-list ul li:hover {
						background-color: #34495e;
						color: #1abc9c;
						cursor: pointer;
					}

					.mate-list ul li .thumb {
						width: 40px;
						height: 40px;
						border-radius: 40px;
						background-color: grey;
						margin: 5px auto;
					}

					.mate-list ul li .thumb-name {
						float: left;
						margin-left: 10px;
						margin-top: 15px;

					}



	/**********************
	Left Sidebar and Content
	**********************/
	.right-content {
		background-color: white;
		float: right;
		width: 85%;
		height: inherit;
		border-radius: 0px 6px 6px 0px;

	} 

		.right-content .wrapper {
			width: 100%;
			height: inherit;
		}

			.wrapper .wallpaper {
				height: 85px;
				background-color: #2c3e50;
				border-radius: 0px 6px 0px 0px;
			}

			.greetings {
				padding-top: 30px;
				text-align: center;
				width: 50%;
				color: white;
				font-weight: bold;
				font-size: 2em;
				margin: 0 auto;
			}

			.house_content {
				background-color: white;
				width: 100%;
				height: 89.2%;
			}

		.house_tabs {
			background-color: #ECF0F1;
			float: left;
			width: inherit;
		}

			.house_tabs ul {
				list-style: none;
				margin-left: 0px;
				margin-bottom: 0px;
				float: left;
			}

				.house_tabs ul li {
					min-width: 70px;
					margin-right: 0px;
					background-color: #ECF0F1;
					color: grey;
					display: inline;
					text-align: center;
					font-size: 1em;
					height: 30px;
					padding-left: 10px;
					padding-right: 10px;
					padding-top: 10px;
					float: left;
					transition: color 400ms ease 0s;
				}

				.house_tabs ul li:hover {
					color: #D45631;
					cursor: pointer;
				}

				.house_tabs ul #focus {
					background-color: white;
					color: #D45631;
					font-weight: bold;
				}

				#add_house {
					box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
					display: inline-block;
					font-size: 1em;
					color: white;
					background-color: #2ecc71;
					font-weight: bold;
					padding-left: 10px;
					min-width: 20px;
					width: 20px;
					height: 30px;
					border-radius: 30px;
					margin-top: 5px;
					margin-left: 10px;
					line-height: 29px;
					transition: width 200ms cubic-bezier(.55,0,.1,1) 0s;
				}

				#add_house:hover {
					width: 120px;
					cursor: pointer;
					text-decoration: none;
				}

				#add_house:active {
					background-color: #27ae60;
				}

				.add_message {
					position: absolute;
					display: inline-block;
					opacity: 0;
					padding-left: 10px;
					transition: opacity 400ms cubic-bezier(.55,0,.1,1) 0s;
				}

				#add_house:hover .add_message{
					opacity: 1;
					transition: opacity 400ms cubic-bezier(.55,0,.1,1) 0s;
				}

			#alone {
				font-size: 4em;
				width: 100%;
				height: 50%;
				text-align: center;
				padding-top: 300px;
				color: #bdc3c7;
			}

			#alone p {
				font-size: 0.4em;
				text-align: center;
				padding-top: 30px;
			}


/*****************************************************
THIS IS ALL THE THINGS PERTAINING TO THE PEOPLE PROFILE
******************************************************/


#profile_widget {
	font-family: 'Roboto', sans-serif;
	background-color: white;
	color: rgba(0, 0, 0, 0.7);
}

#profile_pic {
	background-color: grey;
	height: 150px;
	width: 150px;
	display: inline-block;
	border-radius: 150px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	margin-top: 50px;
	margin-bottom: 30px;
}

#profile_pic_small {
	background-color: grey;
	height: 50px;
	width: 50px;
	display: inline-block;
	border-radius: 50px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
	margin-top: 20px;
	margin-bottom: 30px;
}

#profile_widget .username {
	text-align: center;
	font-size: 2em;
}

.profile_content {
	margin-top: 25px;
	margin-left: 10%;
	margin-right: 10%;
}

.house_group h2, .posts h2 {
	font-weight: normal;
	color: inherit;
	border-bottom: 1px solid grey;
	margin-top: 25px;
}

.house_list {
	list-style: none;
	margin-left: 0px;
	margin-bottom: 0px;
}

.house_list li {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: grey;
	display: inline-block;
	padding-top: 20px;
	margin-right: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	transition: box-shadow 300ms cubic-bezier(.55,0,.1,1) 0s;
}

.house_list2 li {


	display: inline-block;

	margin-right: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	transition: box-shadow 300ms cubic-bezier(.55,0,.1,1) 0s;
}

.house_list li:hover {
	box-shadow: 0px 0px 25px rgba(0,0,0,0.2);
	cursor: pointer;
}

/*************
FOOTER STYLING
**************/

footer {
	color: rgba(0,0,0,0.5);
}

/*****************************************************
					INBOX STYLE
******************************************************/
#convo_list {
	background-color: #ECF0F1;
	height: 90%;
	display: inline-block;
	width: 40%;
	overflow: auto;
	list-style: none;
	margin: 0px 0px 0px 0px;
}

#convo_list li {
	width: 100%;
	display: block;
}


#convo_list li a {
	color: #95A5A6;
	display: block;
	background-color: #ECF0F1;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

#convo_list .active a {
	background-color: white;
	color: black;
	text-decoration: none;
}

#convo_list .active a:hover {
	background-color: white;
	color: black;
	text-decoration: none;
}

#convo_list li a:hover {
	background-color: #BDC3C7;
	color: #2C3E50;
	text-decoration: none;
}

#convo_list li a h4 {
	display: inline-block;
}

#convo_list li a img {
	background-color: grey;
	width: 30px;
	height: 30px;
	display: inline-block;
}

#convo_messages {
	display: inline-block;
	width: 70%;
}

#messages, #participants{
	list-style: none;
	margin-left: 0px;
}

.thumbnail {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 40px;
	background-color: grey;
	margin: 5px auto;
}

#add_msg {
		text-align: center;
		font-weight: bold;
		display: block;
		background-color: #2ecc71;
		color: white;
		padding-left:20px;
		padding-right:20px;
		padding-top: 20px;
		padding-bottom:20px;
		z-index: 3000;
	}

				#add_msg:hover {
					background-color: #27AE60;
					cursor: pointer;
					text-decoration: none;
				}

				#add_msg:active {
					background-color: #27ae60;
				}

	.messenger {
		display: inline-block;
		float: right;
		width: 60%;
		height: 90%;
	}

	.tab-pane.messenger {
		display: none;
	} 

	.tab-pane.messenger.active {
		display: inline-block;
	}

	.messages {
		list-style: none;
		overflow: auto;
		height: 85%;
	}

	.messages li {
		padding-top: 20px;
		padding-bottom: 60px;
	}

	.messages .message-text {
		display: inline-block;
		float: left;
		width: 300px;
		padding-top: 20px;
		padding-bottom: 30px;
	}

	.messages li img {
		vertical-align: middle;
		display: inline-block;
		float: right;
		height: 40px;
		width: 40px;
		margin-right: 30px;
		background-color: grey;
		vertical-align: middle;

	}